body {
    margin: 0 auto;
}


/* header */

.main-header {
    background-color: orange;
    padding: 0 50px;
}

.main-header img {
    height: 25px;
}

.header-btn .separator {
    color: #8A8A8A;
}

.main-header .btn {
    height: 70px;
    width: 70px;
    border: 0;
    background-color: orange;
    color: white;
    font-size: 19px;
    cursor: pointer;
}

.main-header .btn:hover {
    color: black;
}

.main-header .btn.active {
    color: black;
    box-shadow: 0px -5px 0px 0px black inset
}


/* search-bar */

.search-bar {
    height: 100px;
    background-color: #E3E3E3;
}


/* gallary */

.gallary {
    padding: 40px 20px;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
}

.gallary img {
    width: 100%;
}


/* editor */

.meme-editor {
    background-color: #E3E3E3;
    padding: 40px 30px 20px;
}

.editor-continer {
    grid-template-columns: repeat(5, 60px);
    grid-auto-rows: 60px;
    grid-gap: 10px;
}

canvas {
    width: 500px;
    height: 500px;
}

.text-input {
    grid-column: span 5;
    font-size: 20px;
}

.meme-editor button {
    border: 0;
    background-color: white;
    cursor: pointer;
}

.meme-editor button img {
    height: 50px;
    width: 50px;
}

.meme-editor .btn-updown {
    grid-column: 2;
}

.meme-editor .btn-add {
    grid-column: 3;
}

.meme-editor .btn-inc {
    grid-row: 3;
    grid-column: 1;
}

.meme-editor .btn-dec {
    grid-row: 3;
    grid-column: 2;
}

.meme-editor .btn-all {
    grid-row: 3;
    grid-column: 3;
}

.meme-editor .btn-alc {
    grid-row: 3;
    grid-column: 4;
}

.meme-editor .btn-alr {
    grid-row: 3;
    grid-column: 5;
}

.meme-editor .btn-up {
    grid-row: 4;
    grid-column: 1;
}

.meme-editor .btn-down {
    grid-row: 4;
    grid-column: 2;
}

.meme-editor .btn-txt-stroke {
    grid-row: 4;
    grid-column: 4;
}

.meme-editor .btn-color {
    grid-row: 4;
    grid-column: 5;
}


/* footer */

.main-footer {
    height: 200px;
    background-color: orange;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
    color: white;
    bottom: 0px;
}

.main-footer img {
    height: 25px;
    margin-bottom: 20px;
}


/* helpers */

.flex {
    display: flex;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

@media (max-width:880px) {
    .meme-editor {
        flex-direction: column;
    }
    canvas {
        margin-bottom: 20px;
    }
}